.login-ag{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    position: relative;
}
.login-ag>div{
    animation: zoomLog 0.7s 1 0s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-btn-ag{
    border: 3px solid #334480;
    text-align: center;
    width: 300px;
    height: 65px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.5rem;
    margin-top: 3rem;
}
.get-srt-btn{
    text-align: center;
    width: 300px;
    height: 65px;
    padding: 10px;
    background: #334480;
    border: 3px solid #334480;
    box-sizing: border-box;
    color: #fff !important;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.pow-by{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}
.pow-by h5{
    margin-bottom: 0;
    margin-right: 6px;
    color: #334480;
}
.login-in-mail{
    width: 100%;
    border: none;
    border-bottom: 2px solid #334480;
    padding: 1rem;
    font-size: 1.6rem;
    color: #334480;
}
.login-in-mail::placeholder{
    font-size: 1.6rem;
    color: #334480;
}
.login-in-pass{
    width: 100%;
    border: none;
    border-bottom: 2px solid #334480;
    padding: 1rem;
    font-size: 1.6rem;
    color: #334480;
}
.login-in-pass::placeholder{
    font-size: 1.6rem;
    color: #334480;
}
.login-in-login{
    border: 3px solid #334480;
    text-align: center;
    width: 100%;
    height: 65px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #334480;
}
.login-in-login:hover{
    color: #334480;
}

@keyframes zoomLog {
    0% { opacity: 0.6;
        transform: scale(1.4);
        transition: transform 2000ms, opacity 2000s; }
    100% {  opacity: 1;
        transform: scale(1);
        transition: transform 2000ms, opacity 2000ms; }
}

input:focus{
    outline: none;
}
.verifying{
    background-color: #fff;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* min-width: 100vw; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.verifying h3{
    color: #334480;
}
.myProgressfull {
    border-radius: 10px;
    width: 350px;
    background-color: #ddd;
}
.myBarfull {
    border-radius: 10px;
    width: 95%;
    height: 15px;
    background-color: #334480;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    /* -webkit-animation: progress-bar-stripes 0.2s linear infinite; */
    animation-name: progress-bar-stripes, lod;
    animation-duration: 0.2s, 2s;
    animation-timing-function: linear, linear;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: unset, forwards;
    background-size: 15px 15px;
    transition: width 0.6s ease;
}
@keyframes lod {
    0% { width: 10%; }
    25% {  width: 25%; }
    50% {  width: 50%; }
    75% {  width: 75%; }
    100% {  width: 95%; }
}